<form [formGroup]="fg" (ngSubmit)="saves(fg.controls['name'].value, fg.controls['url'].value)">
    <div class="card-body">
        <div class="form-group col">
            <label for="name"> Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="ingrese su nombre" formControlName='name' />
            <div *ngIf="fg.controls['name'].hasError('required')" style="font-weight: bold;">nombre no puede ser vacio</div>
            <div *ngIf="fg.controls['name'].hasError('invalidName')" style="font-weight: bold;">nombre inavalido</div>
            <div *ngIf="fg.controls['name'].hasError('longName')" style="font-weight: bold;">debe contener {{ minLon }} caracteres</div>

        </div>
        <div class="form-group col">
            <label for="image"> Url</label>
            <input type="text" class="form-control" id="url" placeholder="" formControlName='url' />
        </div>
        <button type="submit" class="btn btn-primary"> <!--*ngIf!="fg.valid"--->
      Enviar
    </button>
    </div>
</form>