<div class="container align-content-center col-md-8">
    <div class=" card">

        <div class="card-header ">
            <h3>
                wishlist
            </h3>
        </div>
        <form action="">
            <div class="card-body">
                <div class="form-group col">
                    <label for="name"> Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="" #name>
                </div>
                <div class="form-group col">
                    <label for="image"> Url</label>
                    <input type="text" class="form-control" id="url" placeholder="" #url>
                </div>
                <button type="submit" class="btn btn-primary" (click)="save(name.value, url.value)"> Enviar</button>
            </div>
        </form>
    </div>

</div>

<hr>
<div class="card-columns">
    <app-travel *ngFor="let d of destination; let i=index" [destination]="d" [position]="i+1" (clicked)="chosen(d)">
    </app-travel>

</div>