<div class="card card-description  justify-content-between ml-2">
    <img class="card-img-top " src="https://placeimg.com/180/230/nature" alt=" ">
    <div class="card-header">
        <span><h6>{{ position }}</h6></span>
    </div>
    <div class="card-body ">
        <h5 class="card-title ">{{ destination.n }}
            <span class="badge badge-warning " data-toggle="popover" data-placement="top" data-content="35% de descuento"> Descuento</span>
        </h5>


        <h6 class="card-subtitle text-muted p-sm-1 ">Servicios</h6>
        <ul>
            <li *ngFor="let s of destination.service">
                <!--funciona-->
                <span [ngSwitch]="s"> 
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{ s }}</i>
                    <i *ngSwitchDefault>{{ s }}</i>
                </span>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-style btn-success " type="button" (click)="see()">
            Ver
        </button>

        <span *ngIf="destination.isSelected()">-Favorito-</span>
        <a href="" [routerLink]="['/destino']"> Detalle</a>
    </div>
</div>